
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

  .container{
    background-color: rgba(255, 144, 14, 0.1);

  }
  .navbar,.banner{
    max-width: 1440px;
   margin: 0 auto;
    
  }
  .brand{
    font-size: 3rem;
    font-weight: bold;
    align-items: center;
    
  }

  .dark2{
    color: rgb(66, 66, 66)


}
.dark3{
    rgb(114, 114, 114)
    
}
.primary-btn{
    background-color: rgb(255, 144, 14);
    border-radius: 8px;
    width: 180px;
    height: 64px;
    font-size: 1.25rem;
    font-width:600px;
    color:rgb(255, 255, 255);
    padding:20px 25px;
    border:none;
}



.display-flex{
    display: flex;
}

.navbar{
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    
}
.nav-links{
    

}
.nav-item{
    list-style: none;
    margin-right: 30px;
    
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
    color: rgb(66, 66, 66);
     font-size: 18px;
    
    
}
.banner-title{
    font-weight:700px;
    font-size: 4rem;
    
}
.banner-description{
    font-weight: 400px;
    font-size: 1rem;


}
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-img{
  width: 100%;
    }
@media  screen and (max-width: 576px) {
    .navbar,.nav-links{
        flex-direction: column;
    }
    
}

   


